body{
    background-image: url("lanchinha.jpg!d")}

    .linklanchinhas{
        color: rgb(5, 2, 2)}

        .linha01{
        width: 50%;
        height: vh15;
        background-color: blue;
        display: flex;
        justify-content: center
        
